.h {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    max-width: 1264px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    flex: 1 0 auto;
}
.hFlex{
    background-color: #ffffff;
   
}
