body{
  height: 100%;
  box-sizing: border-box;
  background-color: hsl(210,8%,95%)
}
.mb0>li{
  list-style-type: disc;
  margin-left: 30px;
  font-size: 13px;
  margin-top: 2px;
}
.editorContainer{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: hsl(210,8%,95%)
}


.editorBody{
  border: 1px solid hsl(210,8%,85%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding:38px;
  width: 100%;
  height:450px;
  background-color: white;
  margin-bottom: 100px;
}

.editorFlex:hover .s-card2{
 display: block;
}

.editorEx{
  display: flex;
  flex-direction: column;

  
}
.E1_span{
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 15px;
}
.editorEx > p{
  font-size: 12px;
  margin-bottom: 10px;
}
.qs-input, .s-textarea {
  width: 780px;
  margin: 0;
  padding: 0.6em 0.7em;
  border: 1px solid hsl(210,8%, 75%);
  border-radius: 3px;
  background-color: white;
  color:  hsl(210,8%, 5%);
  font-size: 13px;
  font-family: inherit;
}
.titleBody{
  border: 1px solid hsl(210,8%,85%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 38px;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
}
.titleBody > .editorEx{
margin-left: -420px;
}
.titleFlex:hover .s-card{
  display: block;
}


.mt16 {
  margin-top: 16px;
}
.exContainer {
  width: 70%;
  align-items: center; 
  display: flex;
  margin-bottom: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ai-center {
  align-items: center;
}

.p24 {
  padding: 24px ;
}


.s-notice {
  margin-top: 20px;
  width: 100%;
  background-color:#EBF4FB;
  border: 1px solid hsl(189, 23%, 76%);
  border-radius: 5px;
}
.fw-normal {
  font-weight: 400 !important;
}
.fs-title {
  font-size: 21px !important;
  margin-bottom: 8px;
}
.E1_span>p{
  margin-bottom: 1em;
  font-size: 15px;
}
.fs-body2{
  margin-bottom: 1em;
  font-size: 15px;
  color: #000;
}

.mb0 {
  margin-bottom: 0 !important;
}
.mb8{
  margin-bottom: 8px;
}

.editorHeader{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}


.w100 {
    width: 100% ;
}
.bg-no-repeat {
    background-repeat: no-repeat !important;
}
.bg-right-bottom {
    background-position: right bottom !important;
}
.fw-bold {
  font-size: 13px;
}
.fs-headline1 {
  font-size: 1.5rem !important;
}
.mt24 {
  margin-top: 54px !important;
}

.background{
  background-image: url(../../Img/background.svg);
  background-repeat: no-repeat;
  height: 130px;
  background-position: right bottom !important;
}
.content_01{
    width: 100%;
    max-width: 1264px;
    margin: 0;
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    min-height: 750px;
    
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:hsl(210,8%,95%);
  text-align: left;
  flex: 1 0 auto;
  position: relative;
}
/* * 질문등록 오른쪽 카드 * */
.ps-relative {
  position: relative !important;
}
.bs-sm {
  box-shadow:  0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
}
.ps-absolute {
  position: absolute !important;
}

.s-card {
  display: none;
  width: 350px;
  background-color: hsl(0, 0%, 100%);
}
.s-card2 {
  display: none;
  width: 350px;
  background-color: hsl(0, 0%, 100%);
}

.titleCard{
  font-size: 15px;
  padding: 12px;
  background-color: hsl(210,8%,97.5%); 
  border-bottom: solid 1px hsl(210,8%,85%);
}
.titleCard2{
  line-height: 15px;
  margin: 5px;
  display: flex;
  font-size: 12px;
}
.titleCard2 > .flex--item{
  margin: 8px;
  display: flex;
  flex-direction: column;
}
.titleFlex{
  display: flex;
  width: 100%;
  gap: 20px;
}
.editorFlex{
  display: flex;
  width: 100%;
  gap: 20px;
}


.fs-caption > p{
font-size: 12px;
}
.questionBtn{
  border-radius: 3px;
  border-color: #ffffff;
  margin-top: 70px;
  padding: 10px;
  background-color: hsl(206,100%,52%);
  color: #ffffff;
  cursor: pointer;
}