.RightNav {
    float: right;
    margin: 0 0 15px;
    margin-top: 80px;
   
   
   }
   
   .RightNav > .filters {
       border-radius: 5px;
       box-shadow: 0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05)
   }
   
   .RightNavbox {
       border-radius: 5px;
       box-shadow: 0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05)
   }
   
   .RightNav > .watchedtags {
       border-radius: 5px;
       box-shadow: 0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05)
   }
   
   
   .binkan {
       padding: 12px 15px;
   }
   
   .binkan2 {
       padding: 12px 15px;
   }
   
   .RightNavbox > .rightnavheader_2 {
   
       display: flex;
       padding: 12px 15px;
       height: 100%;
       flex: 0.5;
       color: #525960;
       border: 1px solid rgb(241, 229, 188);
       background-color: rgb(251, 243, 213);
       font: 12px "Noto Sans KR", sans-serif;
       font-weight: bold;
       border-bottom: none;
       /* box-shadow gray; */
   }
   
   .RightNavbox > .rightnavul {
       padding: 20px 35px;
       border: 1px solid rgb(241, 229, 188);
       background-color: #faf5e6;
       font: 13px "Noto Sans KR", sans-serif;
       list-style-type: disc;
       border-bottom: none;
   
   }
   
   .RightNavbox > .rightnavheader {
     
       border-top-right-radius:5px;
       border-top-left-radius:5px;
       display: flex;
       padding: 12px 15px;
       height: 100%;
       flex: 0.5;
       color: #525960;
       border: 1px solid rgb(241, 229, 188);
       background-color: rgb(251, 243, 213);
       font: 12px "Noto Sans KR", sans-serif;
       font-weight: bold;
       border-bottom: none;
       box-shadow: 20px gray;
   }
   
   .RightNavbox > .rightnavul_2 {
       padding: 20px 35px;
       border: 1px solid rgb(241, 229, 188);
       background-color: #faf5e6;
       font: 13px "Noto Sans KR", sans-serif;
       list-style-type: disc;
       border-bottom-right-radius:5px;
       border-bottom-left-radius:5px;
       
   }
   
   .RightNavbox > li {
       color: #525960;
       margin: 12px 0px;
       font: 13px "Noto Sans KR", sans-serif;
       list-style-type: disc;
       padding: 12px;
   }
   
   .filters > header {
       border-top-right-radius: 4px ;
       border-top-left-radius: 4px ;
       display: flex;
       padding: 20px 15px 15px;
       height: 100%;
       flex: 0.5;
       color: black;
       border: 0.1px;
       border-style:solid; 
       border-color: hsl(210,8%,85%);
       background-color: #f8f9f9;
       font: 15px "Noto Sans KR", sans-serif;
       border-bottom: none;
       
   }
   
   .filters > ul {
       border-bottom-right-radius: 4px ;
       border-bottom-left-radius: 4px ;
       text-decoration: none; 
       color: hsl(206,100%,40%); 
       padding: 20px 15px;
       font: 13px "Noto Sans KR", sans-serif;
       border: 0.1px;
       border-style:solid; 
       border-color: hsl(210,8%,85%);
   }
   
   
   .watchedtags > ul {
       border-bottom-right-radius: 4px ;
       border-bottom-left-radius: 4px ;
       color: #232629;
       font: 13px;
       padding: 20px 15px;
       font: 13px "Noto Sans KR", sans-serif;
       border: 0.1px;
       border-style:solid; 
       border-color: hsl(210,8%,85%);
       text-align: center;
   
   }
   
   .watchedtags > header {
       border-top-right-radius: 4px ;
       border-top-left-radius: 4px ;
       padding: 20px 15px 15px;
       color: black;
       border: 0.1px;
       border-style:solid; 
       border-color: hsl(210,8%,85%);
       background-color: #f8f9f9;
       font: 15px "Noto Sans KR", sans-serif;
       border-bottom: none;
       
   }
   
   .watch {
       text-align: center;
       width: 48px;
       height: 48px;
       fill: hsl(206,85%,57.5%);
   }
   
   .watchlog {
       padding: 5px;
       margin: 5px;
   }
   
   .watchatag {
   margin: 8px 80px;
       padding: 9.6px ;
       background-color: #e1ecf4;
       box-shadow: hsla(0,0%,100%,0.7);
   color: #39739d;
   border-radius: 4%;
   }
   
   .watchatag > p {
       font: 12px;
   }
   
   .watchatag:hover {
       background-color: hsl(205,41%,63%);
       cursor: pointer;
   }
   
   .filters > ul > li:hover {
       color:  hsl(206,100%,52%);
       cursor: pointer;
   }
   
   .one {
   margin-bottom: 10px;
   }
   
   
   .rightnavul_2 > li {
       margin-bottom: 10px;
   }
   