.Post {
    display: flex;
    padding: calc(16px);
    border-top: 1px;
    border-style:solid; 
    border-color:hsl(210,8%,90%);
    position: relative;
    box-sizing: inherit;
}

.leftcon{
    align-items: flex-end;
    flex-direction: column;
    width: calc(108px);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    font: 13px;
    gap: calc(6px);
    margin-bottom: calc(4px);
    margin-right: calc(16px);
    margin: 0px 16px 4px 0px;
    color: #6a737c;
    font: 13px "Noto Sans KR", sans-serif;
    align-items: center;
    border: 1px 1px 1px;
}

.votes > .votesNum {
    align-items: center;
    border: 1px 1px 1px;
}

.votes > .votesUnit {
    align-items: center;
    border: 1px 1px 1px;
}

.postname{
    color: #232629;
    font: 17px "Noto Sans KR", sans-serif;
    margin: -1.95px 0px 10px;
    padding: 0px 24px 0px 0px;
}

.postname > .postnames{
    font: 17px "Noto Sans KR", sans-serif;
    color: #0074cc;
}


.tagsoneee {
    color: #39739d;
    font: 12px "Noto Sans KR", sans-serif;
    background: #e1ecf4;
    margin: 0px 2px 2px 0px;
    padding: 4.8px 6px;
}

.tagssss {
    display: flex;
    margin: 0px 0px 13px;
}

.tagstwoooo {
    color: #39739d;
    font: 12px "Noto Sans KR", sans-serif;
    background: #e1ecf4;
    margin: 0px 2px 2px 0px;
    padding: 4.8px 6px;
}

.rightcon {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.postwidth {
    width: 100%;
}

.rightconnnn {
    align-items: center;
    column-gap: 6px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap: 8px;
}


.rightconitemmm {
    color: hsl(206,100%,40%);
    /* padding-left: 300px; */
    margin: 2px;
    font: 12px "Noto Sans KR", sans-serif;
}

.timecon {
    color: #6a737c;
    padding-right: 10px;
    margin: 2px;
    font: 12px "Noto Sans KR", sans-serif;
}